/* homepage styling */
.home-animation {
  -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* navbar stylings */
#navbar {
  display: flex;
  align-items: baseline;
}

.nav-links {
  font-weight: bold;
  font-size: 2.15em;
  color: #E8E8E8;
  font-family: 'Righteous', cursive;
  padding: 5%;
}

#nav-buttons {
  display: flex;
  padding-left: 46%;
  align-self: flex-end;
  margin-bottom: -4vh;
}

/* navbar link stylings */
.link-to {
  font-family: 'Righteous', cursive;
  font-size: 2.5em;
  color: #E8E8E8;
  display: inline-block;
}

.link-to:hover {
  color: #3E8BFF;
  cursor: pointer;
}

/* logo stylings */
#logo-div {
  display: flex;
  align-items: flex-end;
}

#logo-image {
  height: 6em;
}

#logo {
  padding: 0vw;
  font-weight: bold;
  font-size: 4em;
  color: #E8E8E8;
  font-family: 'Righteous', cursive;
}

/* map stylings */
#map-container {
  text-align: -webkit-center;
  -webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#map {
  width: 100%;
  border-radius: 15px;
  border: 0.25em inset rgba(0, 0, 0, 0.5);
  min-height: 86vh;
  text-align: center;
}

.leaflet-popup-content-wrapper {
  text-align: center;
}

/* greeting stylings */
#greeting-div {
  display: flex;
}

#greeting-header {
  font-family: 'Righteous', cursive;
  font-size: 2em;
  color: #E8E8E8;
  width: 12vw;
  text-align: center;
  margin-top: 3%;
}

/* signup stylings */
.form {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sign-div {
  display: flex;
}

#signup-link-id {
  margin-left: 2vw;
  margin-right: 2vw;
}

.input-password {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.input {
  height: 6vh;
  width: 20%;
  border-radius: 0.6em;
  border: .15em solid black;
  text-align: center;
}

.submit {
  border-radius: 0.6em;
  border: 0.15em solid black;
  min-height: 5vh;
  background-color: #4482FF;
  color: white;
  width: 20%;
}

.submit:hover {
cursor: pointer;
background-color: Transparent;
color: #4482FF
}

#logout-btn {
  border-radius: 0.6em;
  border: 0.15em solid black;
  color: white;
  background-color: #4482FF;
  height: 30%;
  width: 27%;
  margin-top: 5%;
}

#logout-btn:hover {
cursor: pointer;
background-color: Transparent;
color: #4482FF
}

/* global stylings */
#toilet-button-container {
  text-align: center;
  padding-top: 13%;
}

.slogan {
  font-family: 'Righteous', cursive;
  font-size: 2.5em;
  color: #E8E8E8;
  text-align: center;
  padding-top: 5%;
}
.transition-animation {
  -webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* showpage stylings */
.ui.modal>.content {
  text-align: center;
  font-size: 1em;
}

#purchase-btn-div {
  padding-top: 2%;
}

#rate-div {
  padding-top: 2%;
}

.star{
  margin-right: 1%;
}
.average-star{
  margin-right: 1%;
}

#average-star-display {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding-left: 13%;
}
.show-card-animation {
  -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
.star::before {
  content: "\f7d8";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 2em;
  margin-right: .5vw;
}
.average-star::before {
  content: "\f7d8";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 2em;
  margin-right: .5vw;
}

/* animations */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #4482FF;
  border-bottom: 16px solid #4482FF;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* ---------------------------------------------------- */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/* ------------------------------------------------------- */
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

/* ------------------------------------------- */
@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}